.questionCard {
    width: 100%;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    color: white;
    align-items: center;
}

.questionCard.classicVariant {
    background-color: #4A90E2;
}

.questionCard.challengeVariant {
    background-color: #6C5CE7;
    border-color: black;
    color: white;
}

.questionSection {
    position: relative;
    display: flex;
    top: 20px;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 12px;
    margin-right: 12px;
}

.answerSection {
    position: relative;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 12px;
    justify-items: center;
}

.answerElement {
    text-align: center;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    height: 5rem;
    width: 90%;
    min-width: 5rem;
}

.incorrect {
    background-color: rgb(163, 5, 5);
    font-weight: 900;
    color: black;
}

.correctAnswerDisplay {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 15px;
}

.qCardEarnedPoints {
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}

.newQuesButton {
    margin-top: 10px;
}