.questionCard {
    /* width: 40%; */
    /* height: 40%; */
    border-style: solid;
    border-radius: 8px;
    background-color: cadetblue;
    align-items: center;
    max-width: fit-content;
}

.questionSection {
    position: relative;
    display: flex;
    top: 20px;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 12px;
    margin-right: 12px;
}

.answerSection {
    position: relative;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 25px;
}

.answerElement {
    text-align: center;
}

.incorrect {
    text-align: center;
    background-color: rgb(163, 5, 5);
}

.correctAnswerDisplay {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 25px;
}

.qCardEarnedPoints {
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}