.classicGame {
    height: 100vh;
    /* background-color: rgb(138, 96, 130); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.gameSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    justify-items: center;
}

.teams {
    text-align: center;
    padding-left: 10px;
    justify-self: left;
}

.currentTeam {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 30px;
}

.currentScore {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.team {
    padding-bottom: 15px;
}