.classicGame {
    width: 150vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.teams {
    position: absolute;
    left: 0px;
    width: 10rem;
    text-align: center;
}

.currentTeam {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 30px;
}

.team {
    padding-bottom: 15px;
}