.classicGame {
    height: 95%;
    width: 95%;
    background-color: #F5F7FA;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    outline: .2rem solid #357ABD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    justify-items: center;
}

.teams {
    text-align: center;
    padding-left: 10px;
    justify-self: left;
}

.currentTeam {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 30px;
}

.currentScore {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.team {
    padding-bottom: 15px;
}
