.challengeGameMenu {
    height: 95%;
    width: 95%;
    display: flex;
    background-color: #6C5CE7;
    color: white;
    border: 2px solid rgb(219, 162, 246);
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chmmenuTitleText {
    padding-bottom: 20px;
    font-size: larger;
    font-weight: bold;
}

.gameBackground {
    height: 100vh;
    background-color: white;
    align-content: center;
    justify-items: center;
}
