.challengeGameMenu {
    background-color: rgb(10, 101, 101);
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: goldenrod;
}

.chmmenuTitleText {
    color: goldenrod;
    padding-bottom: 20px;
    font-weight: bold;
}
