.classicGameMenu {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4A90E2;
    color: white;
    border: 2px solid #357ABD;
    border-radius: 12px;
}

.teamCount {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmmenuTitleText {
    padding-bottom: 20px;
    font-weight: bold;
}
