.classicGameMenu {
    background-color: teal;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: goldenrod;
}

.teamCount {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering (optional) */
}

.cmmenuTitleText {
    color: goldenrod;
    padding-bottom: 20px;
    font-weight: bold;
}
