.mainMenu {
    background-color: blueviolet;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .titleText {
    color: goldenrod;
    padding-bottom: 50px;
} */

/* .mainMenu .titleText {
    color: goldenrod;
    position: relative;
    right: 50%;
    top: 50%;
} */