.mainMenu {
    height: 95%;
    width: 95%;
    background-color: rgb(200, 60, 50);
    color: white;
    border: 2px solid rgb(238, 87, 76);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}