.winnerScene {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4A90E2;
    border: 2px solid #357ABD;
    border-radius: 12px;
}

.congratsText {
    font-size: larger;
    padding-bottom: 10px;
}