.challengeOverScene {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #6C5CE7;
    border: 2px solid rgb(219, 162, 246);
    border-radius: 12px;
}
