/* .challengeMode {
    text-align: center;
} */

.challengeMode {
    /* width: 150vh; */
    /* height: 100vh; */
    /* background-color: thistle; */
    height: 95%;
    width: 95%;
    /* background-color: rgb(241, 234, 244); */
    background-color: #F5F7FA;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    outline: .2rem solid rgb(219, 162, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.challengeGameHeader {
    font-size: large;
}

.gameSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.currentScore {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    max-width: fit-content;
}

.score {
    padding-left: 10px;
    justify-self: left;
}

.gameBackground {
    height: 100vh;
    background-color: white;
    align-content: center;
    justify-items: center;
}