.challengeMode {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F7FA;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    outline: .2rem solid rgb(219, 162, 246);
}

.challengeGameHeader {
    font-size: large;
}

.gameSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.currentScore {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    max-width: fit-content;
}

.score {
    padding-left: 10px;
    justify-self: left;
}