/* .challengeMode {
    text-align: center;
} */

.challengeMode {
    /* width: 150vh; */
    height: 100vh;
    /* background-color: rgb(10, 101, 101); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}